<manifest
    package="com.backstopmedia.kotlin.ktwitter"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.backstopmedia.kotlin.ktwitter.KotlinApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="066f172c06fc89ed95e0cbc54d57a330d03ec999" />

        <activity android:name="com.backstopmedia.kotlin.ktwitter.ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.backstopmedia.kotlin.ktwitter.ui.activities.LoginActivity"
            android:label="@string/ktwitter" />

        <activity
            android:name="com.backstopmedia.kotlin.ktwitter.ui.activities.TimelineActivity"
            android:label="@string/navigation_view.timeline" />

        <activity
            android:name="com.backstopmedia.kotlin.ktwitter.ui.activities.TopImagesActivity"
            android:label="@string/navigation_view.top_images" />

        <activity
            android:name=".ui.activities.TopUsersActivity"
            android:label="@string/navigation_view.who_to_follow"/>

        <activity
            android:name=".ui.activities.FollowersActivity"
            android:label="@string/navigation_view.followers" />

    </application>

</manifest>
